<div class="container-fluid" fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="35%" fxFlex.xs="50%" fxFlex.sm="33%">
    <mat-card class="about-card">
      <mat-card-header class="card-header">
        <mat-card-title>About</mat-card-title>
        <mat-card-subtitle>Proyecto 07</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="https://scontent.fgye30-1.fna.fbcdn.net/v/t39.30808-6/252541044_271997708179402_1272287927930249337_n.png?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=jEGExHzsBYIAX-f5JBO&_nc_ht=scontent.fgye30-1.fna&oh=00_AfDggTcJi9VBIetn3p-iNDH79vjUF3aeuCLjs5_1vmp-yQ&oe=64E96F14"
        alt="Photo of logo"
      />
      <mat-card-content>
        <p class="about-text">{{ description }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
