<div class="container-fluid" fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="35%" fxFlex.xs="50%" fxFlex.sm="33%">
    <mat-card class="about-card">
      <mat-card-header class="card-header">
        <mat-card-title>About</mat-card-title>
        <mat-card-subtitle>Proyecto 07</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="https://play-lh.googleusercontent.com/nUzK8WjxbT-X59mlDYyPej6HO_j45Ou7qOIIgnJbTO6IzNA6iAU_kMdA38hHGONBv9c"
        alt="Photo of logo"
      />
      <mat-card-content>
        <p class="about-text">{{ description }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
